= form_for [:admin, @notification], :html => { :class => 'admin-form' } do |f|
  - if f.object.errors[:base].any?
    .error-msg= f.object.errors.join(', ')
  .field.first_name
    .label= f.label :first_name, t('.labels.first_name')
    .value
      = f.text_field :first_name
      - if f.object.errors[:first_name].any?
        .error-msg= f.object.errors[:first_name].join(', ')
  .field.phone_number.required
    .label= f.label :phone_number, t('.labels.phone_number')
    .value
      = f.text_field :phone_number
      - if f.object.errors[:phone_number].any?
        .error-msg= f.object.errors[:phone_number].join(', ')
  .field.message.required
    .label= f.label :message, t('.labels.message')
    .value
      = f.grouped_collection_select(:message_id, MessageStream.all, :messages, :title, :id, :option_title, :include_blank => '')
      - if f.object.errors[:message_id].any?
        .error-msg= f.object.errors[:message_id].join(', ')

  .buttons= f.submit :value => t(@notification.new_record? ? '.actions.create' : '.actions.save')
