- @primary_nav = :notifications

%h2 Notifications
%table.admin-table
  %tr
    %th ID
    %th Phone Number
    %th Start
    %th Expires
    %th Last Run
    %th Status
    %th Error Type
    %th Actions
  - @notifications.each do |notification|
    %tr{:class => cycle('even', 'odd')}
      %td= notification.id
      %td= notification.phone_number
      %td= notification.delivery_start.strftime '%Y-%m-%d'
      %td= notification.delivery_expires.strftime '%Y-%m-%d'
      %td= notification.last_run_at.try(:strftime, '%Y-%m-%d')
      %td= notification.status
      %td= notification.last_error_type
      %td.actions #{link_to 'View', [:admin, notification]}
