:ruby
  @nav_hierarchy = [:notifications]
  @search_params[:phone_number_cont] ||= @search_params[:phone_number_eq]

- if params[:filter_search].present?
  .search
    .hide-search-filters= link_to t('admin.common.search_filters.hide'), @search_params.slice(:phone_number_cont)
  = render 'search_filters', :search_params => @search_params
- else
  %form.search
    = text_field_tag :phone_number_cont, @search_params[:phone_number_cont], :placeholder => t('.search_placeholder')
    .show-search-filters= link_to t('admin.common.search_filters.show'), @search_params.merge(:filter_search => 1)

%h2= t('.title')

#paginator= paginate @notifications
= render 'table', :notifications => @notifications
