- @primary_nav = :notifications

%h1 View Notification
%table
  %tr
    %th ID
    %td= @notification.id
  %tr
    %th UUID
    %td= @notification.uuid
  %tr
    %th Notifier ID
    %td= link_to @notification.notifier_id, admin_notifier_path(@notification.notifier_id)
  %tr
    %th Message ID
    %td= @notification.message_id
  %tr
    %th Phone Number
    %td= @notification.phone_number
  %tr
    %th First Name
    %td= @notification.first_name
  %tr
    %th Delivery Method
    %td= @notification.delivery_method
  %tr
    %th Delivery Start
    %td= @notification.delivery_start.strftime '%b %e, %Y @ %r %Z'
  %tr
    %th Delivery Expires
    %td= @notification.delivery_expires.strftime '%b %e, %Y @ %r %Z'
  %tr
    %th Delivery Window
    %td= @notification.delivery_window
  %tr
    %th Last Run At
    %td= @notification.last_run_at.try(:strftime, '%b %e, %Y @ %r %Z')
  %tr
    %th Status
    %td= @notification.status
  %tr
    %th Last Error Type
    %td= @notification.last_error_type
  %tr
    %th Last Error Message
    %td= @notification.last_error_msg
  %tr
    %th Date Created
    %td= @notification.created_at.strftime '%b %e, %Y @ %r %Z'
  %tr
    %th Last Updated
    %td= @notification.updated_at.strftime '%b %e, %Y @ %r %Z'
