- @nav_hierarchy = [:notifications, @notification]

%h2 View Notification
.field
  %label= label_for @notification, :id
  = @notification.id
.field
  %label= label_for @notification, :uuid
  = @notification.uuid
.field
  %label= label_for @notification, :notifier
  = link_to @notifier_name, admin_notifier_path(@notification.notifier_id)
.field
  %label= label_for @notification, :message
  = link_to @message.path, [:admin, @message.message_stream, @message]
.field
  %label= label_for @notification, :phone_number
  = @notification.phone_number
.field
  %label= label_for @notification, :first_name
  = @notification.first_name
.field
  %label= label_for @notification, :delivery_method
  = @notification.delivery_method
.field
  %label= label_for @notification, :delivery_start
  = l(@notification.delivery_start) if @notification.delivery_start
.field
  %label= label_for @notification, :delivery_expires
  = l(@notification.delivery_expires) if @notification.delivery_expires
.field
  %label= label_for @notification, :delivery_window
  = @notification.delivery_window
.field
  %label= label_for @notification, :last_run_at
  = l(@notification.last_run_at) if @notification.last_run_at
.field
  %label= label_for @notification, :status
  = @notification.status
.field
  %label= label_for @notification, :last_error_type
  = @notification.last_error_type
.field
  %label= label_for @notification, :last_error_msg
  = @notification.last_error_msg
.field
  %label= label_for @notification, :created_at
  = l(@notification.created_at)
.field
  %label= label_for @notification, :updated_at
  = l(@notification.updated_at)

%h2 Delivery Attempts
%table.admin-table
  %tr
    %th ID
    %th Method
    %th Date
    %th Result
    %th Error Type
    %th Actions
  - @attempts.each do |attempt|
    %tr{:class => cycle('even', 'odd')}
      %td= attempt.id
      %td= attempt.delivery_method
      %td= time_ago_in_words(attempt.created_at)
      %td= attempt.result
      %td= attempt.error_type
      %td.actions #{link_to 'View', [:admin, attempt]}
