-# assumes `delivery_attempts` will be passed in

%table.admin-table.delivery_attempts
  %thead
    %tr
      %th.id= t('.labels.id')
      %th.notification= t('.labels.notification')
      %th.delivery_method= t('.labels.delivery_method')
      %th.phone_number= t('.labels.phone_number')
      %th.created_at= t('.labels.created_at')
      %th.result= t('.labels.result')
      %th.error_type= t('.labels.error_type')
      %th.actions= t('.labels.actions')
  %tbody
    - delivery_attempts.each do |attempt|
      %tr.delivery_attempt{:class => cycle('even', 'odd')}
        %td.id= attempt.id
        %td.notification= link_to(attempt.notification_id, admin_notification_path(attempt.notification))
        %td.delivery_method= attempt.delivery_method
        %td= link_to(attempt.phone_number, :phone_number_eq => attempt.phone_number)
        %td.created_at= l(attempt.created_at.to_date)
        %td.result= attempt.result
        %td.error_type= attempt.error_type
        %td.actions #{link_to t('.actions.view'), [:admin, attempt]}
