- @nav_hierarchy = [:attempts]

%h2 Delivery Attempts
%table.admin-table
  %tr
    %th ID
    %th Notification
    %th Method
    %th Date
    %th Result
    %th Error Type
    %th Actions
  - @delivery_attempts.each do |attempt|
    %tr{:class => cycle('even', 'odd')}
      %td= attempt.id
      %td= attempt.notification_id
      %td= attempt.delivery_method
      %td= time_ago_in_words(attempt.created_at)
      %td= attempt.result
      %td= attempt.error_type
      %td.actions #{link_to 'View', [:admin, attempt]}
