- @nav_hierarchy = [:attempts, @delivery_attempt]

%h2 View Delivery Attempt
.field
  %label= label_for @delivery_attempt, :id
  = @delivery_attempt.id
.field
  %label= label_for @delivery_attempt, :notification
  - if @delivery_attempt.notification
    = link_to @delivery_attempt.notification_id, [:admin, @delivery_attempt.notification]
.field
  %label= label_for @delivery_attempt, :message
  = link_to @delivery_attempt.message.path, [:admin, @message.message_stream, @message]
.field
  %label= label_for @delivery_attempt, :phone_number
  = @delivery_attempt.phone_number
.field
  %label= label_for @delivery_attempt, :delivery_method
  = @delivery_attempt.delivery_method
.field
  %label= label_for @delivery_attempt, :result
  = @delivery_attempt.result
.field
  %label= label_for @delivery_attempt, :error_type
  = @delivery_attempt.error_type
.field
  %label= label_for @delivery_attempt, :error_msg
  .block-text= @delivery_attempt.error_msg
.field
  %label= label_for @delivery_attempt, :request
  = @delivery_attempt.request
.field
  %label= label_for @delivery_attempt, :response
  = @delivery_attempt.response
.field
  %label= label_for @delivery_attempt, :created_at
  = l(@delivery_attempt.created_at)
.field
  %label= label_for @delivery_attempt, :updated_at
  = l(@delivery_attempt.updated_at)
