:ruby
  @nav_hierarchy = [:attempts, @delivery_attempt]

%h2= t('.title')

.admin-form
  .field
    .label= t('.labels.id')
    .value= @delivery_attempt.id
  .field
    .label= t('.labels.notification')
    .value
      - if @delivery_attempt.notification
        = link_to @delivery_attempt.notification_id, admin_notification_path(@delivery_attempt.notification)
  .field
    .label= t('.labels.message')
    .value= link_to @delivery_attempt.message.path, [:admin, @message.message_stream, @message]
  .field
    .label= t('.labels.phone_number')
    .value= link_to @delivery_attempt.phone_number, admin_delivery_attempts_path(:phone_number_eq => @delivery_attempt.phone_number)
  .field
    .label= t('.labels.delivery_method')
    .value= @delivery_attempt.delivery_method
  .field
    .label= t('.labels.provider')
    .value= @delivery_attempt.provider
  .field
    .label= t('.labels.result')
    .value= @delivery_attempt.result
  .field
    .label= t('.labels.error_type')
    .value= @delivery_attempt.error_type
  .field
    .label= t('.labels.error_msg')
    .value= simple_format(@delivery_attempt.error_msg)
  .field
    .label= t('.labels.created_at')
    .value= l(@delivery_attempt.created_at)
  .field
    .label= t('.labels.updated_at')
    .value= l(@delivery_attempt.updated_at)

- if @provider && @delivery_details
  = render "admin/#{@provider.to_s.underscore}/list", :details => @delivery_details
