- @nav_hierarchy = [:dashboard]

.dashboard-breakdown
  %h2 Last 24 Hours
  %div Total Notifications: #{@notification_cnt[:day]}
  %div Delivered: #{@delivered_cnt[:day]} / Failed: #{@failed_cnt[:day]}

.dashboard-breakdown
  %h2 Last Week
  %div Total Notifications: #{@notification_cnt[:week]}
  %div Delivered: #{@delivered_cnt[:week]} / Failed: #{@failed_cnt[:week]}

.dashboard-breakdown
  %h2 Last Month
  %div Total Notifications: #{@notification_cnt[:month]}
  %div Delivered: #{@delivered_cnt[:month]} / Failed: #{@failed_cnt[:month]}

%h2 Failed Notifications
%table.admin-table
  %thead
    %tr
      %th ID
      %th Enrollment
      %th Message
      %th Start
      %th Status
      %th Delivered At
      %th Actions
  %tbody#notifications
    - @failed_notifications.each do |notification|
      = render 'admin/notifications/notification', :notification => notification

