%h2= t('.title')

- details.each do |message|
  .admin-form.admin-delivery-details
    .field
      .label= t('.labels.id')
      .value= message.id
    .field
      .label= t('.labels.ext_message_id')
      .value= message.ext_message_id
    .field
      .label= t('.labels.status')
      .value= message.status
    .field
      .label= t('.labels.to_msisdn')
      .value= message.to_msisdn
    .field
      .label= t('.labels.network_code')
      .value= message.network_code
    .field
      .label= t('.labels.mo_tag')
      .value= message.mo_tag
    .field
      .label= t('.labels.scts')
      .value= message.scts
    .field
      .label= t('.labels.created_at')
      .value= l(message.created_at)
    .field
      .label= t('.labels.updated_at')
      .value= l(message.updated_at)
