- @nav_hierarchy = [:messages, @message_stream, @message]

%h2 View Message
.field
  %label= label_for @message, :id
  = @message.id
.field
  %label= label_for @message, :message_stream
  = link_to @message_stream.title, [:admin, @message_stream]
.field
  %label= label_for @message, :name
  = @message.name
.field
  %label= label_for @message, :title
  = @message.title
.field
  %label= label_for @message, :path
  = @message.path
.field
  %label= label_for @message, :offset_days
  = @message.offset_days
.field
  %label= label_for @message, :ivr_code
  = @message.ivr_code
.field
  %label= label_for @message, :sms_text
  = @message.sms_text
.field
  %label= label_for @message, :created_at
  = l(@message.created_at)
.field
  %label= label_for @message, :updated_at
  = l(@message.updated_at)
