:ruby
  @nav_hierarchy = [:messages, @message_stream, @message]

%h2= t('.title')

.admin-form
  .field
    .label= t('.labels.id')
    .value= @message.id
  .field
    .label= t('.labels.message_stream')
    .value= link_to @message_stream.title, admin_message_stream_path(@message_stream)
  .field
    .label= t('.labels.name')
    .value= @message.name
  .field
    .label= t('.labels.title')
    .value= @message.title
  .field
    .label= t('.labels.language')
    .value= @message.language
  .field
    .label= t('.labels.path')
    .value= @message.path
  .field
    .label= t('.labels.offset_days')
    .value= @message.offset_days
  .field
    .label= t('.labels.ivr_code')
    .value= @message.ivr_code
  .field
    .label= t('.labels.sms_text')
    .value= @message.sms_text
  .field
    .label= t('.labels.created_at')
    .value= l(@message.created_at)
  .field
    .label= t('.labels.updated_at')
    .value= l(@message.updated_at)

  .buttons= link_to t('.new_notification'), new_admin_notification_path(:message_id => @message.id)
