- @nav_hierarchy = [:messages]

- @message_streams.each do |stream|
  %h2 Stream: #{stream.title}

  - reset_cycle
  %table.admin-table
    %tr
      %th Offset
      %th Title
      %th Language
      %th Method
      %th Actions
    - stream.messages.each do |message|
      %tr{:class => cycle('even', 'odd')}
        %td= message.offset_days
        %td= message.title
        %td= message.language
        %td= message.sms_text.present? ? 'SMS' : 'IVR'
        %td.actions #{link_to 'View', [:admin, stream, message]}
