:ruby
  @nav_hierarchy = [:messages, @message_stream]

%h2= t('.title')

.admin-form
  .field
    .label= t('.labels.id')
    .value= @message_stream.id
  .field
    .label= t('.labels.name')
    .value= @message_stream.name
  .field
    .label= t('.labels.title')
    .value= @message_stream.title
  .field
    .label= t('.labels.created_at')
    .value= l(@message_stream.created_at)
  .field
    .label= t('.labels.updated_at')
    .value= l(@message_stream.updated_at)

%h2= t('.messages_title')
= render 'admin/messages/table', :messages => @messages

