- @primary_nav = :messages

%h2 View Message Stream
= form_for(admin_message_stream_path(@message_stream), :html => { :class => 'admin-view' }) do |f|
  %fieldset
    .field
      = f.label :id, 'ID'
      = @message_stream.id
    .field
      = f.label :name
      = @message_stream.name
    .field
      = f.label :title
      = @message_stream.title
    .field
      = f.label :date_created, 'Date Created'
      = @message_stream.created_at.strftime '%b %e, %Y @ %r %Z'
    .field
      = f.label :last_updated, 'Last Updated'
      = @message_stream.updated_at.strftime '%b %e, %Y @ %r %Z'

%h2 Messages
%table.admin-table
  %tr
    %th Offset
    %th Title
    %th Text
    %th IVR
    %th SMS
    %th Actions
  - @messages.each do |message|
    %tr{:class => cycle('even', 'odd')}
      %td= message.offset_days
      %td= message.title
      %td.sms-text= message.sms_text
      %td= message.ivr_code.present? ? 'X' : ''
      %td= message.sms_text.present? ? 'X' : ''
      %td.actions #{link_to 'View', [:admin, @message_stream, message]}
