%h1 View Notification Job
%table
  %tr
    %th ID
    %td= @job.id
  %tr
    %th Run At
    %td= @job.run_at.try(:strftime, '%b %e, %Y @ %r %Z')
  %tr
    %th Priority
    %td= @job.priority
  %tr
    %th Attempts
    %td= @job.attempts
  %tr
    %th Failed At
    %td= @job.failed_at.try(:strftime, '%b %e, %Y @ %r %Z')
  %tr
    %th Last Error
    %td= @job.last_error
  %tr
    %th Handler
    %td= @job.handler
  %tr
    %th Locked At
    %td= @job.locked_at.try(:strftime, '%b %e, %Y @ %r %Z')
  %tr
    %th Locked By
    %td= @job.locked_by
  %tr
    %th Date Created
    %td= @job.created_at.strftime '%b %e, %Y @ %r %Z'
  %tr
    %th Last Updated
    %td= @job.updated_at.strftime '%b %e, %Y @ %r %Z'
