- @nav_hierarchy = [:jobs]

%h2 View Notification Job
.field
  %label= label_for @job, :id
  = @job.id
- case @payload
- when DeliverNotificationJob
  .field
    %label= label_for @job, :notification
    = link_to @payload.notification_id, admin_notification_path(@payload.notification_id)
.field
  %label= label_for @job, :run_at
  = l(@job.run_at) if @job.run_at
.field
  %label= label_for @job, :priority
  = @job.priority
.field
  %label= label_for @job, :attempts
  = @job.attempts
.field
  %label= label_for @job, :failed_at
  = l(@job.failed_at) if @job.failed_at
.field
  %label= label_for @job, :last_error
  = @job.last_error
.field
  %label= label_for @job, :handler
  = simple_format @job.handler
.field
  %label= label_for @job, :locked_at
  = l(@job.locked_at) if @job.locked_at
.field
  %label= label_for @job, :locked_by
  = @job.locked_by
.field
  %label= label_for @job, :created_at
  = l(@job.created_at)
.field
  %label= label_for @job, :updated_at
  = l(@job.updated_at)
