- @nav_hierarchy = [:jobs]

%h2 View Notification Job
= form_for(admin_job_path(@job), :html => { :class => 'admin-view' }) do |f|
  %fieldset
    .field
      = f.label :id, 'ID'
      = @job.id
    .field
      = f.label :run_at, 'Run At'
      = @job.run_at.try(:strftime, '%b %e, %Y @ %r %Z')
    .field
      = f.label :priority
      = @job.priority
    .field
      = f.label :attempts
      = @job.attempts
    .field
      = f.label :failed_at, 'Failed At'
      = @job.failed_at.try(:strftime, '%b %e, %Y @ %r %Z')
    .field
      = f.label :last_error, 'Last Error'
      = @job.last_error
    .field
      = f.label :handler
      = @job.handler
    .field
      = f.label :locked_at, 'Locked At'
      = @job.locked_at.try(:strftime, '%b %e, %Y @ %r %Z')
    .field
      = f.label :locked_by, 'Locked By'
      = @job.locked_by
    .field
      = f.label :date_created, 'Date Created'
      = @job.created_at.strftime '%b %e, %Y @ %r %Z'
    .field
      = f.label :last_updated, 'Last Updated'
      = @job.updated_at.strftime '%b %e, %Y @ %r %Z'
