:ruby
  @nav_hierarchy = [:jobs, @job]

%h2= t('.title')

.admin-form
  .field
    .label= t('.labels.id')
    .value= @job.id
  - case @payload
  - when DeliverNotificationJob
    .field
      .label= t('.labels.notification')
      .value= link_to @payload.notification_id, admin_notification_path(@payload.notification_id)
  .field
    .label= t('.labels.run_at')
    .value= l(@job.run_at) if @job.run_at
  .field
    .label= t('.labels.priority')
    .value= @job.priority
  .field
    .label= t('.labels.attempts')
    .value= @job.attempts
  .field
    .label= t('.labels.failed_at')
    .value= l(@job.failed_at) if @job.failed_at
  .field
    .label= t('.labels.last_error')
    .value= simple_format(@job.last_error.to_s.gsub("\\n", "\n"))
  .field
    .label= t('.labels.handler')
    .value= simple_format(@job.handler)
  .field
    .label= t('.labels.locked_at')
    .value= l(@job.locked_at) if @job.locked_at
  .field
    .label= t('.labels.locked_by')
    .value= @job.locked_by
  .field
    .label= t('.labels.created_at')
    .value= l(@job.created_at)
  .field
    .label= t('.labels.updated_at')
    .value= l(@job.updated_at)
