= simple_form_for [:admin, @notifier] do |f|
  = f.input :username
  = f.input :password, :required => @notifier.new_record?, :input_html => { :value => nil }, :as => :string
  = f.input :timezone, :as => :time_zone
  = f.button :submit
