- @primary_nav = :notifiers

%h2 View Notifier
= form_for(admin_notifier_path(@notifier), :html => { :class => 'admin-view' }) do |f|
  %fieldset
    .field
      = f.label :id, 'ID'
      = @notifier.id
    .field
      = f.label :username
      = @notifier.username
    .field
      = f.label :timezone
      = @notifier.timezone
    .field
      = f.label :date_created, 'Date Created'
      = @notifier.created_at.strftime '%b %e, %Y @ %r %Z'
    .field
      = f.label :last_updated, 'Last Updated'
      = @notifier.updated_at.strftime '%b %e, %Y @ %r %Z'
