- @nav_hierarchy = [:notifiers, @notifier]

%h2 View Notifier
.field
  %label= label_for @notifier, :id
  = @notifier.id
.field
  %label= label_for @notifier, :username
  = @notifier.username
.field
  %label= label_for @notifier, :timezone
  = @notifier.timezone
.field
  %label= label_for @notifier, :created_at
  = l(@notifier.created_at)
.field
  %label= label_for @notifier, :updated_at
  = l(@notifier.updated_at)
