:ruby
  @nav_hierarchy = [:notifiers, @notifier]

%h2= t('.title')

.admin-form
  .field
    .label= t('.labels.id')
    .value= @notifier.id
  .field
    .label= t('.labels.username')
    .value= @notifier.username
  .field
    .label= t('.labels.timezone')
    .value= @notifier.timezone
  .field
    .label= t('.labels.created_at')
    .value= l(@notifier.created_at)
  .field
    .label= t('.labels.updated_at')
    .value= l(@notifier.updated_at)
