- @nav_hierarchy = [:users]

%h2 View User
.field
  %label= label_for @user, :id
  = @user.id
.field
  %label= label_for @user, :username
  = @user.username
.field 
  %label= label_for @user, :timezone
  = @user.timezone
.field
  %label= label_for @user, :created_at
  = l(@user.created_at)
.field
  %label= label_for @user, :updated_at
  = l(@user.updated_at)
