- @nav_hierarchy = [:users]

%h2 View User
= form_for(admin_user_path(@user), :html => { :class => 'admin-view' }) do |f|
  %fieldset
    .field
      = f.label :id, 'ID'
      = @user.id
    .field
      = f.label :username
      = @user.username
    .field 
      = f.label :timezone
      = @user.timezone
    .field
      = f.label :date_created, 'Date Created'
      = @user.created_at.strftime '%b %e, %Y @ %r %Z'
    .field
      = f.label :last_updated, 'Last Updated'
      = @user.updated_at.strftime '%b %e, %Y @ %r %Z'
