:ruby
  @nav_hierarchy = [:users, @user]

%h2= t('.title')

.admin-form.show
  .field
    .label= t('.labels.id')
    .value= @user.id
  .field
    .label= t('.labels.username')
    .value= @user.username
  .field
    .label= t('.labels.name')
    .value= @user.name
  .field
    .label= t('.labels.timezone')
    .value= @user.timezone
  .field
    .label= t('.labels.locale')
    .value= t("admin.common.locales.#{@user.locale}")
  .field
    .label= t('.labels.role')
    .value= t("admin.common.roles.#{@user.role}")
  .field
    .label= t('.labels.notifiers')
    .value
      %ul.multi-checkbox
        - @user.notifiers.each do |notifier|
          %li= notifier.name
  .field
    .label= t('.labels.created_at')
    .value= l(@user.created_at)
  .field
    .label= t('.labels.updated_at')
    .value= l(@user.updated_at)

  .actions
    %ul
      - if current_ability.can? :update, @user
        = link_to t('.actions.edit'), edit_admin_user_path(@user)
