:ruby
  @nav_hierarchy = [:users, @user]

%h2= t('.title')

.admin-form
  .field
    .label= t('.labels.id')
    .value= @user.id
  .field
    .label= t('.labels.username')
    .value= @user.username
  .field
    .label= t('.labels.timezone')
    .value= @user.timezone
  .field
    .label= t('.labels.created_at')
    .value= l(@user.created_at)
  .field
    .label= t('.labels.updated_at')
    .value= l(@user.updated_at)
