%h2= t('.title')

- details.each do |message|
  .admin-form.admin-delivery-details
    .field
      .label= t('.labels.id')
      .value= message.id
    .field
      .label= t('.labels.ext_message_id')
      .value= message.ext_message_id
    .field
      .label= t('.labels.status')
      .value= message.status
    .field
      .label= t('.labels.callee')
      .value= message.callee
    .field
      .label= t('.labels.duration')
      .value= message.duration
    .field
      .label= t('.labels.connect_at')
      .value= l(message.connect_at) if message.connect_at
    .field
      .label= t('.labels.disconnect_at')
      .value= l(message.disconnect_at) if message.disconnect_at
    .field
      .label= t('.labels.request')
      .value.text-block= preserve(html_escape(message.request))
    .field
      .label= t('.labels.response')
      .value.text-block= preserve(html_escape(message.response))
    .field
      .label= t('.labels.callback_res')
      .value.text-block= preserve(html_escape(message.callback_res))
    .field
      .label= t('.labels.created_at')
      .value= l(message.created_at)
    .field
      .label= t('.labels.updated_at')
      .value= l(message.updated_at)
