- content_for :javascripts do
  = javascript_include_tag 'application'

- content_for :stylesheets do
  = stylesheet_link_tag 'application'

- content_for :content do
  #user-nav
    %span.site-title
      .app-name= t('admin.user_nav.app_name')
      .app-product= t('admin.user_nav.app_product')
      .current-notifier= t('admin.user_nav.notifiers.all')
    .user-logged-in #{t('admin.user_nav.signed_in')}: #{@current_user.username}
  #main
    #primary-nav
      %ul
        - primary_nav(@nav_hierarchy.first).each do |i|
          %li{i[:selected] && :class => 'selected'}= link_to i[:title], i[:path]
    - if @nav_hierarchy && @nav_hierarchy.size > 1
      #nav-hierarchy= nav_hierarchy(@nav_hierarchy).join(' &raquo; ').html_safe
    #content
      = yield
    #footer= t('admin.footer')

= render :file => 'layouts/application'
