- content_for :stylesheets do
  = stylesheet_link_tag 'application'

- content_for :content do
  #user-nav
    .site-title <strong>HMS</strong> Hub
    .user-logged-in Signed In: #{@current_user.username}
  #main
    #primary-nav
      %ul
        - primary_nav(@nav_hierarchy.first).each do |i|
          %li{i[:selected] && :class => 'selected'}= link_to i[:title], i[:path]
    - if @nav_hierarchy && @nav_hierarchy.size > 1
      #nav-hierarchy= nav_hierarchy(@nav_hierarchy).join(' &raquo; ').html_safe
    #content
      = yield
    #footer Unauthorized access prohibited.

= render :file => 'layouts/application'
