!!! XML
!!!
%html
  %head
    %title= t('admin.site_title')
    = yield :stylesheets
    = yield :javascripts

  %body
    - if content_for?(:content)
      = yield :content
    - else
      %div#content= yield
